.accessibility-menu {
    background-color: #f8f9fa;
    padding: 15px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
    transition: opacity 0.3s ease;
}

.accessibility-menu.hidden {
    opacity: 0;
    pointer-events: none; /* Evita interacciones cuando está oculto */
}

.accessibility-menu h2 {
    font-size: 1.2rem;
}

.accessibility-menu button {
    margin: 5px;
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.accessibility-menu button:hover {
    background-color: #0056b3;
}

/* Estilos de alto contraste para toda la página */
body.high-contrast {
    background-color: black;
    color: white;
}

body.high-contrast a {
    color: yellow; /* Cambia el color de los enlaces en alto contraste */
}

body.high-contrast button {
    background-color: gray; /* Cambia el color de los botones en alto contraste */
    color: black;
}