.Inclusion {
  background-color: #fdfffc; /* Off White */
  color: #011627; /* Dark Blue */
  padding: 20px;
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.Inclusion h1 {
  font-size: 2.5em;
}

.Inclusion h3 {
  color: #e71d36; /* Red */
}

.Inclusion p {
  font-size: 1.1em;
}

.Inclusion ul {
  margin-top: 10px;
}

.Inclusion-image-container {
  width: 200px;
  height: 200px;
  border: 2px solid #2ec4b6; 
  border-radius: 50%;
  overflow: hidden;
  margin-top: 1rem;
}

.Inclusion-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Estilos para alto contraste */
.high-contrast {
  background-color: #011627; /* Dark Blue */
  color: #fdfffc; /* Off White */
}

.high-contrast h1, 
.high-contrast h3, 
.high-contrast p {
  color: #fdfffc; /* Off White */
}

.high-contrast img {
  border: 2px solid #2ec4b6; /* Teal border */
}