.Perceptible {
  background-color: #fdfffc; /* Blanco */
  padding: 1.5rem;
  border-radius: 8px;
  margin-bottom: 2rem;
}

.Perceptible h2, .Perceptible h3 {
  color: #011627; /* Azul oscuro */
}

.Perceptible p {
  line-height: 1.5;
  color: #2ec4b6; /* Turquesa */
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.image-container img {
  width: 200px;
  height: 200px;
  border-radius: 8px;
  object-fit: cover;
  transition: transform 0.3s;
}

.image-container img:hover {
  transform: scale(1.05);
}

.alt-text {
  margin-top: 0.5rem;
  color: #011627; /* Azul oscuro */
  font-weight: bold;
}

/* Estilos para alto contraste */
.high-contrast {
  background-color: #011627; /* Azul oscuro */
  color: #fdfffc; /* Blanco */
}

.high-contrast h2, 
.high-contrast h3, 
.high-contrast p, 
.high-contrast .alt-text {
  color: #fdfffc; /* Blanco */
}

.high-contrast button {
  background-color: #ff9f1c; /* Naranja */
  color: #011627; /* Azul oscuro */
}

.high-contrast button:hover {
  background-color: #2ec4b6; /* Turquesa */
}

/* Agregar un estilo para el botón normal */
button {
  padding: 10px 15px;
  margin-top: 10px;
  background-color: #007bff; /* Color de fondo del botón normal */
  color: white; /* Color de texto del botón normal */
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3; /* Color del botón normal al pasar el ratón */
}