.Senadis {
    background-color: #f4f4f4;
    padding: 2rem;
    border-radius: 8px;
  }
  
  .Senadis h2 {
    color: #333;
  }
  
  .Senadis p {
    line-height: 1.5;
    color: #555;
  }
  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
  }
  
  .image-container img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
  }