.Wcag {
  background-color: #fdfffc; /* Off White */
  color: #011627; /* Dark Blue */
  padding: 20px;
  font-family: Arial, sans-serif;
}

.Wcag h1 {
  font-size: 2.5em;
}

.Wcag h2 {
  font-size: 2em;
  color: #2ec4b6; /* Teal */
}

.Wcag p {
  font-size: 1.1em;
}

.image-container img {
  max-width: 100%;
  height: auto;
  border: 2px solid #2ec4b6; /* Teal border */
}

/* Estilos para alto contraste */
.high-contrast {
  background-color: #011627; /* Dark Blue */
  color: #fdfffc; /* Off White */
}

.high-contrast h1, 
.high-contrast h2, 
.high-contrast p {
  color: #fdfffc; /* Off White */
}

.high-contrast img {
  border: 2px solid #2ec4b6; /* Teal border */
}